@charset "UTF-8";

/*Todas as demais medias*/
/*typical device brakepoints
Pequenas Telas:600px
celular:de 600px até 768px
tablet:de 769px até 992px
desktop: de 992px até 1200px
Grandes telas: acima de 1200px*/
@media print { /*impresso*/
    body{
        background-image:url(../img/back-print.jpg);
    }

    img#phone{display:none;}
    img#tablet{display:none;}
    img#print{display:block;}
    img#tv{ display:none;}
    img#pc{ display:none;}  
}
@media screen and (min-width:769px) and (max-width:992px) { /*tablet*/
    body{
        background-image: url(../img/back-tablet.jpg);
    }

    img#phone{display:none;}
    img#tablet{display:block;}
    img#print{display:none;}
    img#tv{ display:none;}
    img#pc{ display:none;}
}
@media screen and (min-width:992px) and (max-width:1200px) { /*desktop*/
    body{
       background-image: url(../img/back-pc.jpg);
    }
    img#phone{display:none;}
    img#tablet{display:none;}
    img#print{display:none;}
    img#tv{ display:none;}
    img#pc{ display:block;}
}
@media screen and (min-width:1200px) { /*telas grandes*/
    body{
        background-image: url(../img/back-tv.jpg);
    }
    img#phone{display:none;}
    img#tablet{display:none;}
    img#print{display:none;}
    img#tv{ display:block;}
    img#pc{ display:none;}  
}
